*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover{
    text-decoration: none;
}

@font-face{
    font-family: "Bebas Neue Normal";
    src:local("Bebas Neue Normal");
    src: url(BebasNeue.otf) format('otf');
}

.lang{
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 200;
    transition: all .35s;
}

.lang:hover{
    color: #8bc53f;
}

.img-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: transparent;
	position: absolute;
	top: 30%;
    z-index: 102;
}

.logo_main{
    width: 150px;
    display: block;
    margin: auto;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 300;
}

h1{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin: 50px 120px;
    display: block;
    line-height: 60px;
}

h5{
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    width: 100%;
    text-align: left;
    margin: -40px 120px 50px 120px;
    display: block;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.icon-content{
    width: 300px;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.icon-content span{
    color: #fff;
    margin: 0 5px;
    font-size: 1.2em;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 5px;
}
.video-container video.fillWidth {
    width: 100%;
}

#accion{
    margin-left: 120px;
    margin-top: -20px;
    background-color: rgb(233,30,99) !important;
}